@page "/js"
@inject IJSRuntime JSRuntime
<h3>JSComponent</h3>
<button @onclick="alert">alert</button>
<button @onclick="Title">title</button>
<RazorClassLibrary1.Component1></RazorClassLibrary1.Component1>
@code {
    void alert()
    {
        JSRuntime.InvokeVoidAsync("alert", "Hallo Welt");
    }
    async Task confirm()
    {
        var antowrt= await JSRuntime.InvokeAsync<bool>("confirm", "Frage?");
    }
    void Title()
    {
        JSRuntime.InvokeVoidAsync("eval", "document.title = 'Neue Page';");
    }
   async Task lib()
    {
        var lib = new RazorClassLibrary1.ExampleJsInterop(JSRuntime);
      var ret = await  lib.Prompt("Hallo Welt");
    }
}

