@page
@model BlazorHotCity1.Pages.modul5.IndexModel


@{
}
<form method="post" novalidate>


    <input name="eins" /><br />
    <input name="zwei" type="number" step="0.1"/><br />
    <input name="drei" type="datetime-local" /><br />
    <input name="vier" required /><br />
    <input name="fuenf" type="range" min="0" max="10" /><br />
    <input name="sechs" type="email" /><br />
    <button type="submit">submit</button>
</form>