@page "/person/{id:int?}"
<h3>PersonEdit</h3>
<EditForm EditContext="_edx" OnInvalidSubmit="save2">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <InputTextppedv class="form-control" @bind-Value="MyPerson.Name"></InputTextppedv>
            <ValidationMessage For="()=>MyPerson.Name"></ValidationMessage>
        </div>
    </div>
     <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Gross</label>
        <div class="col-sm-10">
            <InputNumber
              class="form-control" @bind-Value="MyPerson.Gross"></InputNumber>
            <ValidationMessage For="()=>MyPerson.Gross"></ValidationMessage>
        </div>
    </div>
     <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">GebDat</label>
        <div class="col-sm-10">
            <InputDate class="form-control" @bind-Value="MyPerson.GebDat"></InputDate>
            
            <ValidationMessage For="()=>MyPerson.GebDat"></ValidationMessage>
        </div>
    </div>
    <button type="submit">save</button>
    <ValidationSummary ></ValidationSummary>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }
    Person MyPerson = new Person();
    EditContext _edx;

    protected override void OnInitialized()
    {
        _edx = new EditContext(MyPerson);
        _edx.SetFieldCssClassProvider( new BootstrapCSSFixFieldClassProvider());
    }
    void save()
    {

    }
      void save2()
    {

    }
}
