@page "/password"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage pls
//@inject IJSRuntime js
<h3>Password</h3>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="password" @bind="pwd">
    <button class="btn btn-outline-secondary" type="button" @onclick="save">save</button>
</div>
@code {
    string pwd;
    void save()
    {
        pls.SetAsync("hannes", pwd);
    }
    protected override async Task OnInitializedAsync()
    {
        //var x=await js.InvokeAsync<string>("localStorage.getItem","hannes");

        var res=await pls.GetAsync<string>("hannes"); 
        if (res.Success)
        {
            pwd = res.Value;
        }
    }

}
